.employee-manager-row {
  background:none!important;
  border:none!important;
  padding:0!important;
  font: inherit!important;
  cursor: pointer!important;
  color: @brand-primary!important;
  outline: none!important;
}
.employee-manager-row:hover {
  text-decoration: underline!important;
  color: darken(@brand-primary, 15%)!important;
}
