.employee-manager-row {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  cursor: pointer;
  color: @brand-primary;
  outline: none;
}
.employee-manager-row:hover {
  text-decoration: underline;
  color: darken(@brand-primary, 15%)
}
