body {
  margin-top: floor(@navbar-height / 1.5) + floor(@grid-gutter-width / 2);
  @media (min-width: @screen-md-min) {
    margin-top: floor(@navbar-height / 2) + floor(@grid-gutter-width / 2) + 10px;
  }
  @media (min-width: @screen-lg-min) {
    margin-top: @navbar-height + floor(@grid-gutter-width / 2);
  }
}
//
// Navs
// --------------------------------------------------
// Base class
// --------------------------------------------------

.nav {
  margin-bottom: floor(@grid-gutter-width / 2);
  @media (min-width: @screen-sm-min) {
    margin-bottom: 0;
  }
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  &:extend(.clearfix all);

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: @header-padding @header-padding 0;

      &:focus,
      &:hover {
        text-decoration: none;
        background-color: @nav-link-hover-bg;
      }
      .btn {
        padding: 2 * @header-padding;
        @media (min-width: @screen-sm-min) {
          padding: @header-padding (2*@header-padding);
        }
      }
    }
    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: @nav-disabled-link-color;

      &:focus,
      &:hover {
        color: @nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: @cursor-disabled;
      }
    }
  }
}

.navbar-toggle {
  margin-top: floor(@grid-gutter-width / 4);
  margin-bottom: floor(@grid-gutter-width / 4);
}

.navbar-fixed-top {
  background-color: @brand-primary;
  border-bottom: 3px solid #fbad23;
  min-width: 360px;
  min-height: floor(@navbar-height / 2);
  @media (min-width: @screen-lg-min) {
    min-height: @navbar-height;
  }

  .btn.btn-outline {
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    transition: all 0.5s;
    color: #fff;
    border-color: rgba(0,0,0,0);
    margin: auto;
    display: block;
    width:100%;
    &:hover {
      background: rgba(0,0,0,.15);
      border-color: rgba(255,255,255,.3);
    }
  }

  .navbar-right {
    margin-right: 0;
    margin-top: floor(@header-padding / 2);
    @media (min-width: @screen-lg-min) {
      margin-top: floor(5 * @header-padding);
    }
  }

  .header-cio-logo {
    width: auto;
    @media (min-width: @screen-lg-min) {
      width: 280px;
    }
    display: block;
    float: left;
    margin: @header-padding;

    img {
      width: auto;
      height: floor(@header-ca-logo-height / 1.5);
      margin: 0;
      @media (min-width: @screen-lg-min) {
        height: @header-cio-logo-height;
        margin: 0 floor(@grid-gutter-width / 2);
      }
      float: left;
    }
  }

  .header-ca-logo {
    height: floor(@header-ca-logo-height / 1.5);
    @media (min-width: @screen-lg-min) {
      height: @header-ca-logo-height;
    }
    width: auto;
    margin: @header-padding;
    float: left;
  }

  .header-title {
    pointer-events: none;
    height: 0;
    color: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 0;
    margin-top: floor(1.8 * @header-padding);
    font-size: 1.7em;
    display: none;
    @media (min-width: @screen-sm-min) {
      display: block;
    }
    @media (min-width: @screen-lg-min) {
      margin-top: floor(3.5 * @header-padding);
      font-size: 2em;
    }
  }
}

.navbar-default .navbar-toggle {
  cursor: pointer;

  &:hover {
    background: rgba(0,0,0,.15);
  }

  .icon-bar {
    background: #fff;
  }
}

#navbar-overlay {
  z-index: -1;
  opacity:0.2;
  background-color:#666;
  position:fixed;
  width:100%;
  height:100%;
  left:0px;
  display:block;
  @media (min-width: @screen-sm-min) {
    display:none;
  }
}
