body {
  margin-top: @navbar-height + @grid-gutter-width;
}
@media (min-width: @screen-lg-min) {
  body {
    margin-top: @navbar-height + @grid-gutter-width / 2;
  }
}

.navbar-fixed-top {
  background-color: @brand-primary;
  border-bottom: 3px solid #fbad23;

  .container > .row {
    margin-top: 10px;
  }

  .header-links {
    @media (min-width: @screen-lg-min) {
      margin-top: 45px;
    }

    .btn.btn-outline {
      background-color: transparent;
      color: inherit;
      transition: all 0.5s;
      color: #fff;
      border-color: rgba(0,0,0,0);

      &:hover {
        background: rgba(0,0,0,.15);
        border-color: rgba(255,255,255,.3);
      }
    }
  }

  .header-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
  }

  .cio-logo-text1 {
    color: lighten(@brand-primary, 50%);
    margin-left: -13px;
    margin-top: 5px;
    margin-bottom: -8px;
  }

  .cio-logo-text2 {
    color: #fff;
    font-variant: small-caps;
    font-size: 1.3em;
    margin-left: -25px;
  }
}
