@brand-primary: #005b8a;

@navbar-height: 65px;

@header-cio-logo-height: 55px;
@header-ca-logo-height: 55px;
@header-padding: 5px;

@footer-height: 50px;
@table-bg-active: lighten(@brand-primary, 65%);
