@brand-primary: #005b8a;
@padding-size: 10px;
@navbar-height: 65px;

@header-cio-logo-height: 55px;
@header-ca-logo-height: 55px;
@header-padding: floor(@padding-size / 2);

@footer-height: 50px;
@table-bg-active: lighten(@brand-primary, 65%);
